
VITE_SUPABASE_URL=https://baaofngljkbhqeamiapo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhYW9mbmdsamtiaHFlYW1pYXBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA4Mzg5ODgsImV4cCI6MjA4NjQxNDk4OH0.JAmc_g6ThSC6KvUV3_LiWkZEYcMeQCHcf4uNlakwdgU