# Environment files
.env
.env.*
.env.local
.env.txt


# Build output
dist/
build/

# Node
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Supabase local
.supabase/

.env.*
$1$_Highyer_$1$
$1$_Highyer_$1$.pub

